<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>NguyenNgocBao_501210422</title>
    <style>

    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./Ảnh/logo.png" alt="Avatar Logo" style="width:60px;" class=""><br>
                <h6></h6>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" style="padding-right: 20px;text-align:center; color: rgb(6, 12, 18);">
                <ul class="nav nav-pills" style="padding-left:100px ;">
                    <li class="nav-item">
                        <a class="nav-link " href="./NguyenNgocBao_501210422.html">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GUITAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SÁO TRÚC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">HARMONICA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">KHÁC</a>
                    </li>
                    <form class="d-flex" style="padding-left: 400px;">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn" type="button"><i class="bi bi-search"></i></button>
                    </form>
                    <div class="d-flex" style="color: azure;">
                        <p>
                            <a href="./admin.html">
                                <button type="button" class="btn "><i class="bi bi-person-square"></i>ADMIN</button>
                            </a>
                            <a href="./user.html">
                                <button type="button" class="btn"><i class="bi bi-people-fill"></i>USER</button>
                            </a>
                        </p>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <h2 style="padding:auto; margin-left: 600px;">Đăng nhập người dùng</h2>
    <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate align=center width="500">
        <p>Họ và tên:<br>
            <input type="text" name="user" ng-model="user" required>
            <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
            <span ng-show="myForm.user.$error.required">Bạn phải nhập họ tên của bạn.</span>
            </span>
        </p>
        <p>Số điện thoại:<br>
            <input type="number" name="phone" ng-model="phone" required>
            <span style="color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
            <span ng-show="myForm.phone.$error.required">Bạn phải nhập Số điện thoại của bạn của bạn.</span>
            </span>
        </p>

        <p>Email:<br>
            <input type="email" name="email" ng-model="email" required>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">Bạn phải nhập email của bạn.</span>
            <span ng-show="myForm.email.$error.email">Email phải đúng định dạng abc@gmail.com.</span>
            </span>
        </p>
        <p>Mật khẩu:<br>
            <input type="password" name="pass" ng-model="pass" required>
            <span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
            <span ng-show="myForm.pass.$error.required">Bạn phải nhập Mật khẩu của bạn của bạn.</span>
            </span>
        </p>
        <p>
            <button><a type="" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid" onclick="location.href='./NguyenNgocBao_501210422.html';">Đăng nhập</button>
            <button><a type="" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid" onclick="location.href='./NguyenNgocBao_501210422.html';">Bỏ qua</button>
        </p>

    </form>

    <script>
        var app = angular.module('myApp', []);
        app.controller('validateCtrl', function($scope) {
            $scope.user = 'Ví dụ: Nguyễn Văn A';
            $scope.phone = '0977750716';
            $scope.email = 'Ví dụ: abc@gmail.com';
            $scope.pass = '12aZ@adc';
        });
    </script>
    <!----------------------------------------->
    <div class="w-100 mx-auto pt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-outline-warning"><i class="bi bi-bag-fill" style="font-size:100px;"></i></button>
                    <h4>Cửa hàng</h4>
                    <p>
                        Since we do not have any page to link it to
                    </p>
                    <p style="color:red ;">Go shop
                        <p>
                </div>
            </div>
            <div class="col">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-outline-warning"><i class="bi bi-people-fill" style="font-size:100px;"></i></button>
                    <h4>Người dùng</h4>
                    <p>
                        Since we do not have any page to link it to
                    </p>
                    <p style="color:red ;">Go shop
                        <p>
                </div>
            </div>
            <div class="col">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-outline-warning"><i class="bi bi-music-note-beamed" style="font-size:100px;"></i></button>
                    <h4>Âm nhạc</h4>
                    <p>
                        Since we do not have any page to link it to
                    </p>
                    <p style="color:red ;">Go shop
                        <p>
                </div>
            </div>
            <div class="col">
                <div class="card-body text-center">
                    <button type="button" class="btn btn-outline-warning"><i class="bi bi-heart-fill" style="font-size:100px;"></i></button>
                    <h4>Sự tin tưởng</h4>
                    <p>
                        Since we do not have any page to link it to
                    </p>
                    <a href="" style="color:red ;">Go shop
                        <a>
                </div>
            </div>
        </div>
     <!-- Footer-->
     <footer class="row bg-dark text-secondary mt-3">
        <div class="col-lg-6">
            <h3 class="text-white">THÔNG TIN</h3>
            <hr>
            <a style="text-align: justify;">Music Life là cửa hàng chuyên cung cấp các loại nhạc cụ trên toàn quốc. Với sự có mặt 35 năm có mặt tại 
                Việt Nam. Hiện giờ cửa hàng có mặt trên 30 tỉnh thành cả nước. Music Life luôn mang đến cho bạn các loại nhạc cụ tốt nhất với những âm
            thanh lôi cuốn của mỗi loại nhạc cụ.</a>
                </div>

                <div class="col-lg-3">
                    <h3 class="text-white">SẢN PHẨM</h3>
                    <hr>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Đàn guitar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Sáo trúc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Piano</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Trống</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Kalimba</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Fulute</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#">Kèn Trumpet</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h3 class="text-white">LIÊN HỆ</h3>
                    <hr>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#"><i class="bi bi-telephone-fill"></i> Điện thoại: 0977750716</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#"><i class="bi bi-facebook"></i> Facebook: Fx Ngọc Bảo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link2 p-0 text-secondary text-decoration-none" href="#"><i class="bi bi-envelope-heart-fill"></i> Mail: fxngocbao@gmail.com</a>
                        </li>
                        <li class="nav-item">

</body>

</html>